*.bin
*.[oa]
*.l[oa]
*.lai
*.so*
*.htm
*.dat
*.h5
*.gif
*~
*.log

names
lib
includes/scicos_block4.h
includes/scicos_block4_41.h
loader.sce
cleaner.sce
etherlab_rc*
changeset_*.dif
etherlab_base_scicos.cosf
modules/etherlab_codegen/libs/4.3/4.3
modules/etherlab_codegen/libs_codegen
modules/etherlab_scicosrt/macros/macros.cosf
modules/*/help/en_US/scilab_en_US_help/
master_help.xml
make.txt
jar*
#/c/Makefile
#/html/**

#help/*/scilab.*
#slave_descriptions/EtherCATInfo.*\.sce$
#slave_descriptions/Beckhoff (AX|BK|CU|CX|EM|EP|Et|FB|FC).*.xml
